@import "slides_themes/dracula.css";

.admonition {
    padding: 15px;
    margin-bottom: 21px;
    border-left: 10px solid transparent;
    text-align: left;
}

.admonition .title {
    margin: 0;
    padding-left: 3px;
    border: 1px solid;
    border-style: hidden hidden solid;
    text-align: left;
}
/****************************** Admonitions Types *****************************/
/*********************************** Note **********************************/
.admonition.note {
    border-color: var(--r-Blue);
    text-align: left;
}

.admonition.note .title {
    color: var(--r-Blue);
    border-color: var(--r-Blue);
    text-align: left;
}
/*********************************** Theorem **********************************/
.admonition.theorem {
    border-color: var(--r-Green);
    text-align: left;
}

.admonition.theorem .title {
    color: var(--r-Green);
    border-color: var(--r-Green);
    text-align: left;
}
/*********************************** Definition **********************************/
.admonition.definition {
    border-color: var(--r-Orange);
    text-align: left;
}

.admonition.definition .title {
    color: var(--r-Orange);
    border-color: var(--r-Orange);
    text-align: left;
}
/*********************************** Question **********************************/
.admonition.question {
    border-color: var(--r-Pink);
    text-align: left;
}

.admonition.question .title {
    color: var(--r-Pink);
    border-color: var(--r-Pink);
    text-align: left;
}
/*********************************** Proof **********************************/
.admonition.proof {
    border-color: var(--r-Purple);
    text-align: left;
}

.admonition.proof .title {
    color: var(--r-Purple);
    text-align: left;
}
.admonition.proof .content {
    color: var(--r-Foreground);
    text-align: left;
}
/*********************************** Example **********************************/
.admonition.example {
    border-color: var(--r-Yellow);
    text-align: left;
}

.admonition.example .title {
    color: var(--r-Yellow);
    text-align: left;
}
.admonition.example .content {
    color: var(--r-Foreground);
    text-align: left;
}
/*********************************** Exercise *********************************/
.admonition.exercise {
    border-color: var(--r-Red);
    text-align: left;
}

.admonition.exercise .title {
    color: var(--r-Red);
    text-align: left;
}
.admonition.exercise .content {
    color: var(--r-Foreground);
    text-align: left;
}
/*********************************** Algorithm *********************************/

.admonition.algorithm {
    border-color: var(--r-Red);
    text-align: left;
}

.admonition.algorithm .title {
    color: var(--r-Red);
    text-align: left;
}
.admonition.algorithm .content {
    color: var(--r-Foreground);
    text-align: left;
}