---
import CVSubsction from "~/components/cv/Subsection.astro";
import { Icon } from "astro-icon/components";
interface Props {
    section: Object;
}
marked.use({
    breaks: true,
});
marked.Renderer.prototype.paragraph = function (text) {
    return text + "\n";
};
const { section } = Astro.props;
import { marked } from "marked";
const title = marked.parse(section.title);
---

<div>
    <h4 class="section_title" set:html={title}>
        <Icon class="icon" focusable="false" name={section.icon} />
    </h4>
    <div class="hr"></div>
    <div>
        {section.subsections.map((item) => <CVSubsction section={item} />)}
    </div>
</div>
