{{ $filepath := "/static/ducks" }}
{{ $files    := readDir $filepath }}
{{ $ext := default "-" (.Get "type" )}}
{{ if (fileExists $filepath)}}

<h1 style="margin:auto;text-align:center;padding-bottom:4vh;">Duck of the day!</h1>
<div id="duck_of_the_day" ></div>

<h1 style="margin:auto;text-align:center;padding-top:10vh;">Ducks on the pond!</h1>
<div id="duck_pond"class="grid grid-cols-2 md:grid-cols-3 gap-4"></div>
<div id="duck_pound" style="visibility: hidden;">
    {{ $filepath := "/static/ducks" }}
    {{ $files    := readDir $filepath }}
    {{ $ext := default "-" (.Get "type" )}}
    {{ if (fileExists $filepath)}}

    {{ range readDir $filepath }}
    {{ $imgURL := print "./static/ducks/" .Name }}
    {{- if hasSuffix .Name ".jpg" -}}
    <img src="data:image/jpg;base64,{{ readFile $imgURL | base64Encode }}" class="shuffleMe h-auto max-w-full rounded-lg" />
    {{- end -}}
    {{- if hasSuffix .Name ".jpeg" -}}
    <img src="data:image/jpg;base64,{{ readFile $imgURL | base64Encode }}" class="shuffleMe h-auto max-w-full rounded-lg" />
    {{- end -}}
    {{- if hasSuffix .Name ".JPEG" -}}
    <img src="data:image/jpg;base64,{{ readFile $imgURL | base64Encode }}" class="shuffleMe h-auto max-w-full rounded-lg" />
    {{- end -}}
    {{- if hasSuffix .Name ".png" -}}
    <img src="data:image/png;base64,{{ readFile $imgURL | base64Encode }}" class="shuffleMe h-auto max-w-full rounded-lg" />
    {{- end -}}
    {{ end }}

    {{end}}
</div>
<!-- start randomimage -->
<script>
    function shuffleArray(array) {
        const copiedArray = [...array];
        for (let i = copiedArray.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [copiedArray[i], copiedArray[j]] = [copiedArray[j], copiedArray[i]];
        }
        return copiedArray
    }

    async function sha256(message) {
        // encode as UTF-8
        const msgBuffer = new TextEncoder().encode(message);

        // hash the message
        const hashBuffer = await crypto.subtle.digest('SHA-256', msgBuffer);

        // convert ArrayBuffer to Array
        const hashArray = Array.from(new Uint8Array(hashBuffer));

        // convert bytes to hex string
        const hashHex = hashArray.map(b => b.toString(16).padStart(2, '0')).join('');
        return parseInt(hashHex, 16);
    }

    const today = new Date().toISOString().slice(0, 10);;
    const store = document.getElementById("duck_pound");
    const elementsArray = Array.prototype.slice.call(store.getElementsByClassName('shuffleMe'));
    var id_container = document.getElementById("duck_count");
    id_container.innerHTML = elementsArray.length;

    sha256(today).then(function (result) {
        const duck = document.getElementById('duck_of_the_day')
        var container = document.getElementById("duck_pound");
        var pond_container = document.getElementById("duck_pond");
        var element = elementsArray[result % elementsArray.length];
        shuffleArray(elementsArray).forEach(function (element) {
            pond_container.appendChild(element);
        })
        duck.appendChild(element)
    })


</script>
<!-- end randomimage -->

{{end}}