{{ $filepath := "/static/ducks" }}
{{ $files    := readDir $filepath }}
{{ $ext := default "-" (.Get "type" )}}
{{ $.Store.Set "count_ducks" 0 }}


{{ if (fileExists $filepath)}}

    {{ range readDir $filepath }}
        {{- if hasSuffix .Name ".jpg" -}}
            {{ $.Store.Add "count_ducks" 1 }}
        {{- end -}}
        {{- if hasSuffix .Name ".jpeg" -}}
            {{ $.Store.Add "count_ducks" 1 }}
        {{- end -}}
        {{- if hasSuffix .Name ".JPEG" -}}
            {{ $.Store.Add "count_ducks" 1 }}
        {{- end -}}
        {{- if hasSuffix .Name ".png" -}}
            {{ $.Store.Add "count_ducks" 1 }}
        {{- end -}}
    {{ end }}

{{end}}

{{ $.Store.Get "count_ducks" }}